/* 全背景 */
body{
    background-color: black;
    color: white;
}

*{
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 200px) {
    .facename {
        font-size: 1%;
    }
    .nameMin{
        font-size: 1%;
    }
}

/* 頭像 */
/* img */
.face{
max-width: 25%;
height: auto;
float: left;
cursor: pointer;
 animation:s 10s linear 1;
 
}
@keyframes s{
    0%{transform:translate(200%,200%) }
    50%{transform:scale(5) }
    60%{transform:rotate(180deg) }
    100%{transform: skew(50deg) }

    
}
/* name */
.facename{
    margin-top: 5%;
    text-align: center;
    font-weight: bolder;
    font-size: 15px;
}

.nameMin{ 
float: right;
max-width: 100%;
text-align: center;
font-weight: bolder;
 font-size: 15px;  
}
.clearfix::after{
    content: "";
    clear: both;
    display: block;
    
}
.clearfix{
   margin: 0px 0 20px; 
   color: white;
   
}

/* 頭像 */

.title{
    font-size: 150%;
    margin: 20px 0;
}

/* 文字 */
.l{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
}

.nav{
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgb(161, 41, 41);
    max-width:50%;
    height: auto;
    display: block;
    padding: 5%;
    display: none;
    
    
}
.nav1{
    color: white;
    text-decoration: none;
}

.t:hover{
    background: linear-gradient(transparent ,#C78550 100%);
    text-shadow:3px 0px 5px  white ;
   
}
.c1{
    background-color: #9E7A7A;
}

/* min */
#carouselExampleIntervalss ,#carouselExampleIntervals,#carouselExampleIntervale,#carouselExampleInterval{
    margin: 10%;
}


/* .carousel-item{
overflow: hidden;
 width: 100%;
height: auto;
} */



/* .img{  
object-fit: contain;
max-width:100%;
height: 1000px; 

}; */



/* img */

.bird,.bird1{
    
    max-width: 100%;
    height: 100%;
    
}

.oneBox{
   max-width: 50%;
   height: 100%;
    float: left;
}
.twoBox{
    max-width: 50%;
    height: 100%;
    float: right;
}
.catB,.face1,.text ,.catC,.catA,.catD,.orange1,.orange2,.orange3,.orange4,.orange5{
    float: right;
    max-width: 50%;
    height: 50%;
    
}
/* shoe */
.shoe{

max-width: 100%;
margin-left: 2%;

}
.q{
   text-align: center;
   max-width: 100%; 
   height: auto;
}


/* 箭頭 */
.sd{
position: fixed;
bottom:0;
right: 10px;
max-width: 100%;
height: auto;
color: white;
}

/* good font */
/* ZCOOL KuaiLe */
/* LXGW WenKai TC */


samp{
    font-family: 'LXGW WenKai TC', cursive;
}

.footer{
text-align: center;
height: auto;
}
.thanks{
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0%;
   background: #DC9FB4;
   color: #000;
   max-width: 50%;
   font-family: 'LXGW WenKai TC', cursive;
}
.x{
 float: right;
 cursor: pointer;
}
.emailName{
    display: none;
}

/* 移動按鈕 */

   .texti{
     cursor: grab;
    margin-top: 50%;
   } 
   

#dragHandle{
  cursor: move; 
    width: 5%;
}

/* 顏色切換 */
.night{
    position: fixed;
    top: 3%;
    right: 10px;
    width: 5%;
   cursor: grab;
}

.sun{
    position: fixed;
    top: 3%;
    right: 10px;
    width: 5%;
   cursor: grab;
}
/* {
max-width: 100%;
 height: 100%;
} */





